In [4]:

import pandas as pd
  
df1 = pd.DataFrame({'id': [1, 2, 3, 4],
                    'Name': ['ABC', 'PQR', 'DEF', 'GHI'],
                    'Age': ['12', '13', '14', '15']})

df2 = pd.DataFrame()
  
df3 = pd.DataFrame({'Name': ['ABC', 'PQR'],
                    'Age': ['12', '13']})
  
# the default behaviour is join='outer'
# inner join
  
result = pd.concat([df1, df3], axis=1, join='inner')
result = df1.merge(df3)
result

   id Name Age
0   1  ABC  12
1   2  PQR  13

In [5]:
df1

   id Name Age
0   1  ABC  12
1   2  PQR  13
2   3  DEF  14
3   4  GHI  15

In [6]:
def test():
    global df2
    df2 = pd.DataFrame({'id': [1, 2, 3, 4],
                    'Name': ['ABC', 'PQR', 'DEF', 'GHI'],
                    'Age': ['12', '13', '14', '15']})
test()
df2

   id Name Age
0   1  ABC  12
1   2  PQR  13
2   3  DEF  14
3   4  GHI  15

In [7]:
df2

   id Name Age
0   1  ABC  12
1   2  PQR  13
2   3  DEF  14
3   4  GHI  15