In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
from ast import literal_eval
import matplotlib
import seaborn as sns
import sklearn
import imblearn
import matplotlib.pyplot as plt
import time
import sklearn.metrics as m

In [2]:
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
df1=pd.read_csv("event_history.csv")
df1["Error code"].fillna("Null", inplace = True)
df1.head()

,User name,AWS access key,Event time,Event source,Event name,AWS region,Source IP address,User agent,Error code,Resources,Request ID,Event ID,Read-only,Event type,Recipient Account Id,Event category
0,OrchestrationService,ASIAVV4VIKBHEEMIK36O,2023-07-07T10:30:13Z,ssm.amazonaws.com,SendCommand,ap-south-1,ssm.amazonaws.com,ssm.amazonaws.com,Null,[],4e40289e-f767-4a0b-9115-08976b8678e9,768f8cfd-7307-49d4-a02b-8486b8424491,False,AwsApiCall,390618173518,Management
1,OrchestrationService,ASIAVV4VIKBHMW3GULBK,2023-07-07T10:00:13Z,ssm.amazonaws.com,SendCommand,ap-south-1,ssm.amazonaws.com,ssm.amazonaws.com,Null,[],4ea73985-a4a2-413a-b440-dcea4b0934cf,fc8ee9f3-e2de-480f-8f5f-f7eb0b0bf17d,False,AwsApiCall,390618173518,Management
2,OrchestrationService,ASIAVV4VIKBHEWRG4ZPM,2023-07-07T09:30:13Z,ssm.amazonaws.com,SendCommand,ap-south-1,ssm.amazonaws.com,ssm.amazonaws.com,Null,[],bf8a1376-0f38-4251-ad83-a1ee26b7679c,0ada806e-f78c-4e18-bc9d-deee8fe9f080,False,AwsApiCall,390618173518,Management
3,OrchestrationService,ASIAVV4VIKBHKAXEKALR,2023-07-07T09:00:13Z,ssm.amazonaws.com,SendCommand,ap-south-1,ssm.amazonaws.com,ssm.amazonaws.com,Null,[],41682323-a959-49ff-962a-3bae3914df8c,8db18e9c-21eb-48ff-a3bc-ebb2d255bc56,False,AwsApiCall,390618173518,Management
4,nisarg.shah,NaN,2023-07-07T08:55:30Z,signin.amazonaws.com,ConsoleLogin,ap-south-1,103.85.10.50,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,Null,[],NaN,94bf2af4-2e7f-420c-936e-3874d4e336ba,False,AwsConsoleSignIn,390618173518,Management

In [6]:
df1.isnull().sum()

User name                 0
AWS access key          217
Event time                0
Event source              0
Event name                0
AWS region                0
Source IP address         0
User agent                0
Error code                0
Resources                 0
Request ID               75
Event ID                  0
Read-only                 0
Event type                0
Recipient Account Id      0
Event category            0
dtype: int64

In [5]:
df1["User name"].fillna("Null", inplace = True)

In [7]:
df = df1.copy(deep=True)

In [8]:
df.describe()

       Recipient Account Id
count          8.366000e+03
mean           3.906182e+11
std            0.000000e+00
min            3.906182e+11
25%            3.906182e+11
50%            3.906182e+11
75%            3.906182e+11
max            3.906182e+11

In [9]:
df.columns

Index(['User name', 'AWS access key', 'Event time', 'Event source',
       'Event name', 'AWS region', 'Source IP address', 'User agent',
       'Error code', 'Resources', 'Request ID', 'Event ID', 'Read-only',
       'Event type', 'Recipient Account Id', 'Event category'],
      dtype='object')

In [10]:
df.drop(['Event time', 'Request ID', 'Recipient Account Id', 'Event category', 'Read-only'], axis='columns', inplace=True)

In [11]:
df.drop(['Event ID', 'AWS access key' ], axis='columns', inplace=True)

In [12]:
def numeric_maker(df, cols, retain_cols=[], replace=False):
    temp_df = df.copy()
    for col in cols:
        col_new = col + "_numeric"
        temp_df[col_new] = temp_df.groupby(col)[col].transform('count')
        temp_df[col_new] = np.log(temp_df[col_new]/len(temp_df))
    if replace:
        drop_cols = list(set(cols) - set(retain_cols))
        return temp_df.drop(columns=drop_cols)
    else:
        return temp_df

In [13]:
df.columns

Index(['User name', 'Event source', 'Event name', 'AWS region',
       'Source IP address', 'User agent', 'Error code', 'Resources',
       'Event type'],
      dtype='object')

In [14]:
col = df.columns
col = list(col)
col.remove('AWS region')
col.remove('Resources')
col.remove('Event type')
col

['User name',
 'Event source',
 'Event name',
 'Source IP address',
 'User agent',
 'Error code']

In [15]:
df = numeric_maker(df, col, retain_cols=[], replace=True)
df.head()

,AWS region,Resources,Event type,User name_numeric,Event source_numeric,Event name_numeric,Source IP address_numeric,User agent_numeric,Error code_numeric
0,ap-south-1,[],AwsApiCall,-0.656762,-0.656071,-0.656762,-0.656762,-0.656762,-0.263979
1,ap-south-1,[],AwsApiCall,-0.656762,-0.656071,-0.656762,-0.656762,-0.656762,-0.263979
2,ap-south-1,[],AwsApiCall,-0.656762,-0.656071,-0.656762,-0.656762,-0.656762,-0.263979
3,ap-south-1,[],AwsApiCall,-0.656762,-0.656071,-0.656762,-0.656762,-0.656762,-0.263979
4,ap-south-1,[],AwsConsoleSignIn,-5.736094,-5.042947,-5.042947,-9.031931,-4.244439,-0.263979

In [16]:

# Import label encoder
from sklearn import preprocessing
  
# label_encoder object knows 
# how to understand word labels.
label_encoder = preprocessing.LabelEncoder()
  
# Encode labels in column 'species'.
df['AWS region']= label_encoder.fit_transform(df['AWS region'])
print(df['AWS region'].unique())
'''df['AWS access key']= label_encoder.fit_transform(df['AWS access key'])
print(df['AWS access key'].unique())'''

[0]

"df['AWS access key']= label_encoder.fit_transform(df['AWS access key'])\nprint(df['AWS access key'].unique())"

In [17]:
import json
resources = df["Resources"].tolist()
Resources1 = []
for val in resources:
    val1 = json.loads(val)
    Resources1.append(val1)
print(Resources1[0:30])

[[], [], [], [], [], [], [], [], [], [], [], [], [], [{'resourceType': None, 'resourceName': 'i-09459546413247e13'}], [], [{'resourceType': 'AWS::EC2::Snapshot', 'resourceName': 'snap-087ee8ebb45a9923e'}, {'resourceType': 'AWS::EC2::VPC', 'resourceName': 'vpc-413b6329'}, {'resourceType': 'AWS::EC2::Ami', 'resourceName': 'ami-0f5ee92e2d63afc18'}, {'resourceType': 'AWS::EC2::NetworkInterface', 'resourceName': 'eni-0b345e3959c9cd292'}, {'resourceType': 'AWS::EC2::KeyPair', 'resourceName': 'aj-aws-afour'}, {'resourceType': 'AWS::EC2::Instance', 'resourceName': 'i-09459546413247e13'}, {'resourceType': 'AWS::EC2::SecurityGroup', 'resourceName': 'sg-05d3f1e4ff7bca4ef'}, {'resourceType': 'AWS::EC2::SecurityGroup', 'resourceName': 'launch-wizard-180'}, {'resourceType': 'AWS::EC2::Subnet', 'resourceName': 'subnet-5ade9832'}], [], [], [], [], [], [], [], [], [], [], [], [], [], []]

In [18]:
Resources = []
for val in Resources1:
    if len(val) == 0:
        Resources.append(0)
    else:
        Resources.append(1)
print(Resources[0:30])

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [19]:
#df['Resources']= label_encoder.fit_transform(df['Resources'])
df['Resources'] = Resources
#df.loc[df["Resources"].str.len() == 0, "Resources"] = 0
#df.loc[df["Resources"].str.len() != 0, "Resources"] = 1

#print(df['Resources'].unique())

In [20]:
df.Resources.dtypes

dtype('int64')

In [21]:
df.head()

,AWS region,Resources,Event type,User name_numeric,Event source_numeric,Event name_numeric,Source IP address_numeric,User agent_numeric,Error code_numeric
0,0,0,AwsApiCall,-0.656762,-0.656071,-0.656762,-0.656762,-0.656762,-0.263979
1,0,0,AwsApiCall,-0.656762,-0.656071,-0.656762,-0.656762,-0.656762,-0.263979
2,0,0,AwsApiCall,-0.656762,-0.656071,-0.656762,-0.656762,-0.656762,-0.263979
3,0,0,AwsApiCall,-0.656762,-0.656071,-0.656762,-0.656762,-0.656762,-0.263979
4,0,0,AwsConsoleSignIn,-5.736094,-5.042947,-5.042947,-9.031931,-4.244439,-0.263979

In [22]:
'''df['Read-only']= label_encoder.fit_transform(df['Read-only'])
print(df['Read-only'].unique())'''

"df['Read-only']= label_encoder.fit_transform(df['Read-only'])\nprint(df['Read-only'].unique())"

In [23]:
df = pd.get_dummies(df, columns = ['Event type'])
#df['Event type']= label_encoder.fit_transform(df['Event type'])
df.head()

,AWS region,Resources,User name_numeric,Event source_numeric,Event name_numeric,Source IP address_numeric,User agent_numeric,Error code_numeric,Event type_AwsApiCall,Event type_AwsConsoleSignIn,Event type_AwsServiceEvent
0,0,0,-0.656762,-0.656071,-0.656762,-0.656762,-0.656762,-0.263979,1,0,0
1,0,0,-0.656762,-0.656071,-0.656762,-0.656762,-0.656762,-0.263979,1,0,0
2,0,0,-0.656762,-0.656071,-0.656762,-0.656762,-0.656762,-0.263979,1,0,0
3,0,0,-0.656762,-0.656071,-0.656762,-0.656762,-0.656762,-0.263979,1,0,0
4,0,0,-5.736094,-5.042947,-5.042947,-9.031931,-4.244439,-0.263979,0,1,0

In [24]:
'''df['Recipient Account Id']= label_encoder.fit_transform(df['Recipient Account Id'])
print(df['Recipient Account Id'].unique())'''

"df['Recipient Account Id']= label_encoder.fit_transform(df['Recipient Account Id'])\nprint(df['Recipient Account Id'].unique())"

In [25]:
'''df['Event category']= label_encoder.fit_transform(df['Event category'])
  
df['Event category'].unique()'''

"df['Event category']= label_encoder.fit_transform(df['Event category'])\n  \ndf['Event category'].unique()"

##

In [26]:
#print(len(df['Event ID'].unique()))

In [27]:
df.head()

,AWS region,Resources,User name_numeric,Event source_numeric,Event name_numeric,Source IP address_numeric,User agent_numeric,Error code_numeric,Event type_AwsApiCall,Event type_AwsConsoleSignIn,Event type_AwsServiceEvent
0,0,0,-0.656762,-0.656071,-0.656762,-0.656762,-0.656762,-0.263979,1,0,0
1,0,0,-0.656762,-0.656071,-0.656762,-0.656762,-0.656762,-0.263979,1,0,0
2,0,0,-0.656762,-0.656071,-0.656762,-0.656762,-0.656762,-0.263979,1,0,0
3,0,0,-0.656762,-0.656071,-0.656762,-0.656762,-0.656762,-0.263979,1,0,0
4,0,0,-5.736094,-5.042947,-5.042947,-9.031931,-4.244439,-0.263979,0,1,0

In [28]:
#df.drop(['Event ID', 'AWS access key' ], axis='columns', inplace=True)

In [29]:
df.columns

Index(['AWS region', 'Resources', 'User name_numeric', 'Event source_numeric',
       'Event name_numeric', 'Source IP address_numeric', 'User agent_numeric',
       'Error code_numeric', 'Event type_AwsApiCall',
       'Event type_AwsConsoleSignIn', 'Event type_AwsServiceEvent'],
      dtype='object')

In [30]:
from sklearn.cluster import DBSCAN

In [31]:

'''# Scaling the data to bring all the attributes to a comparable level
scaler = StandardScaler()
X_scaled = scaler.fit_transform(df)
  
# Normalizing the data so that 
# the data approximately follows a Gaussian distribution
X_normalized = normalize(X_scaled)
  
# Converting the numpy array into a pandas DataFrame
X_normalized = pd.DataFrame(X_normalized)'''

'# Scaling the data to bring all the attributes to a comparable level\nscaler = StandardScaler()\nX_scaled = scaler.fit_transform(df)\n  \n# Normalizing the data so that \n# the data approximately follows a Gaussian distribution\nX_normalized = normalize(X_scaled)\n  \n# Converting the numpy array into a pandas DataFrame\nX_normalized = pd.DataFrame(X_normalized)'

In [38]:
def dbScan(df,df1,str2 = False):
    i = 0.05
    count = 0
    min_sam = 3
    if str2:
        while(i<1):
            df2 = df.copy(deep=True)
            df3 = df1.copy(deep=True)
            str1 = str(count)
            db = DBSCAN(eps=i, min_samples=10).fit(df2)
            i += 0.05
            labels = db.labels_
            freq = {}
            list_set = set(labels)
            for item in labels:
                if (item in freq):
                    freq[item] += 1
                else:
                    freq[item] = 1
            df2['Cluster'] = labels
            def cluster_count(value):
                return freq.get(value)
            df2['Cluster_count'] = df2['Cluster'].map(cluster_count)
            print(m.silhouette_score(df2, df2['Cluster']))
            df3['index'] = df3.index
            df2['index'] = df2.index
            df2.drop(['AWS region', 'Resources', 'User name_numeric', 'Event source_numeric',
        'Event name_numeric', 'Source IP address_numeric', 'User agent_numeric',
        'Error code_numeric', 'Event type_AwsApiCall',
        'Event type_AwsConsoleSignIn', 'Event type_AwsServiceEvent'], axis='columns', inplace=True)
            res = pd.merge(df3, df2, on='index')
            res.to_csv('file1'+str1+'ep.csv')
            count += 1
    
    if str2 is False:
        while(min_sam<=10):
            df2 = df.copy(deep=True)
            df3 = df1.copy(deep=True)
            str1 = str(count)
            db = DBSCAN(eps=0.3, min_samples=min_sam).fit(df2)
            min_sam += 1
            labels = db.labels_
            freq = {}
            list_set = set(labels)
            for item in labels:
                if (item in freq):
                    freq[item] += 1
                else:
                    freq[item] = 1
            df2['Cluster'] = labels
            def cluster_count(value):
                return freq.get(value)
            df2['Cluster_count'] = df2['Cluster'].map(cluster_count)
            print(m.silhouette_score(df2, df2['Cluster']))
            df3['index'] = df3.index
            df2['index'] = df2.index
            df2.drop(['AWS region', 'Resources', 'User name_numeric', 'Event source_numeric',
        'Event name_numeric', 'Source IP address_numeric', 'User agent_numeric',
        'Error code_numeric', 'Event type_AwsApiCall',
        'Event type_AwsConsoleSignIn', 'Event type_AwsServiceEvent'], axis='columns', inplace=True)
            res = pd.merge(df3, df2, on='index')
            res.to_csv('file1'+str1+'min_sam.csv')
            count += 1

In [39]:
dbScan(df,df1,str2 = True)

0.9930493422038653
0.993681071280334
0.9949891043768301
0.9962591221015556
0.9965694362418501
0.9969173782458968
0.9968779272678965
0.996740124669682
0.9958896735067382
0.9949069198021839
0.9944716361215296
0.9937893676713789
0.9933252527909298
0.9912580404694308
0.9904281688310739
0.9903652522653378
0.9902505658317645
0.9894553688700729
0.9886030176993211

In [16]:
'''pca = PCA(n_components = 0.999)
X_principal = pca.fit_transform(X_normalized)
db = DBSCAN(eps=0.5, min_samples=3)
db.fit(X_principal)
y_pred = db.fit_predict(X_principal)
X_principal = pd.DataFrame(X_principal)
X_principal.head()'''

,0,1,2,3,4,5,6,7
0,-0.666683,-0.476159,-0.122184,0.030444,-0.048524,0.107290,-0.016783,0.000193
1,-0.666683,-0.476159,-0.122184,0.030444,-0.048524,0.107290,-0.016783,0.000193
2,-0.666683,-0.476159,-0.122184,0.030444,-0.048524,0.107290,-0.016783,0.000193
3,-0.666683,-0.476159,-0.122184,0.030444,-0.048524,0.107290,-0.016783,0.000193
4,0.428544,-0.254850,-0.053881,-0.303965,-0.206917,-0.004383,-0.008260,0.897301

In [14]:
len(y_pred)

8366

In [15]:
ndarray = X_principal.to_numpy()
ndarray.shape

(8366, 6)

In [16]:
'''plt.scatter(ndarray[:,0], ndarray[:,1], ndarray[:,2], ndarray[:,3], ndarray[:,4], ndarray[:,5],c=y_pred, cmap='Paired')
plt.title("DBSCAN")'''

'plt.scatter(ndarray[:,0], ndarray[:,1], ndarray[:,2], ndarray[:,3], ndarray[:,4], ndarray[:,5],c=y_pred, cmap=\'Paired\')\nplt.title("DBSCAN")'

In [17]:
X_principal.columns = ['P1', 'P2', 'P3', 'P4', 'P5', 'P6']
X_principal.head()

         P1        P2        P3        P4        P5        P6
0 -0.666683 -0.476159 -0.122184  0.030444 -0.048524  0.107290
1 -0.666683 -0.476159 -0.122184  0.030444 -0.048524  0.107290
2 -0.666683 -0.476159 -0.122184  0.030444 -0.048524  0.107290
3 -0.666683 -0.476159 -0.122184  0.030444 -0.048524  0.107290
4  0.428544 -0.254850 -0.053881 -0.303965 -0.206917 -0.004383

In [18]:
db_default = DBSCAN(eps = 0.5, min_samples = 3).fit(X_principal)
labels = db_default.labels_

In [19]:
len(labels)

8366

In [20]:
list_set = set(labels)
print(list_set)

{0, 1, 2, -1}

In [21]:
freq = {}
for item in labels:
    if (item in freq):
        freq[item] += 1
    else:
        freq[item] = 1

In [22]:
freq

{0: 4338, 1: 4022, -1: 3, 2: 3}

In [23]:
X_principal['Cluster'] = labels

In [24]:
def cluster_count(value):
    return freq.get(value)
 
X_principal['Cluster_count'] = X_principal['Cluster'].map(cluster_count)
X_principal.head()

,P1,P2,P3,P4,P5,P6,Cluster,Cluster_count
0,-0.666683,-0.476159,-0.122184,0.030444,-0.048524,0.107290,0,4338
1,-0.666683,-0.476159,-0.122184,0.030444,-0.048524,0.107290,0,4338
2,-0.666683,-0.476159,-0.122184,0.030444,-0.048524,0.107290,0,4338
3,-0.666683,-0.476159,-0.122184,0.030444,-0.048524,0.107290,0,4338
4,0.428544,-0.254850,-0.053881,-0.303965,-0.206917,-0.004383,1,4022

In [25]:
df1['index'] = df1.index
X_principal['index'] = X_principal.index

In [26]:
res = pd.merge(df1, X_principal, on='index')
res.drop(['P1', 'P2', 'P3', 'P4', 'P5', 'P6'], axis='columns', inplace=True)
res.head()

,User name,AWS access key,Event time,Event source,Event name,AWS region,Source IP address,User agent,Error code,Resources,Request ID,Event ID,Read-only,Event type,Recipient Account Id,Event category,index,Cluster,Cluster_count
0,OrchestrationService,ASIAVV4VIKBHEEMIK36O,2023-07-07T10:30:13Z,ssm.amazonaws.com,SendCommand,ap-south-1,ssm.amazonaws.com,ssm.amazonaws.com,NaN,[],4e40289e-f767-4a0b-9115-08976b8678e9,768f8cfd-7307-49d4-a02b-8486b8424491,False,AwsApiCall,390618173518,Management,0,0,4338
1,OrchestrationService,ASIAVV4VIKBHMW3GULBK,2023-07-07T10:00:13Z,ssm.amazonaws.com,SendCommand,ap-south-1,ssm.amazonaws.com,ssm.amazonaws.com,NaN,[],4ea73985-a4a2-413a-b440-dcea4b0934cf,fc8ee9f3-e2de-480f-8f5f-f7eb0b0bf17d,False,AwsApiCall,390618173518,Management,1,0,4338
2,OrchestrationService,ASIAVV4VIKBHEWRG4ZPM,2023-07-07T09:30:13Z,ssm.amazonaws.com,SendCommand,ap-south-1,ssm.amazonaws.com,ssm.amazonaws.com,NaN,[],bf8a1376-0f38-4251-ad83-a1ee26b7679c,0ada806e-f78c-4e18-bc9d-deee8fe9f080,False,AwsApiCall,390618173518,Management,2,0,4338
3,OrchestrationService,ASIAVV4VIKBHKAXEKALR,2023-07-07T09:00:13Z,ssm.amazonaws.com,SendCommand,ap-south-1,ssm.amazonaws.com,ssm.amazonaws.com,NaN,[],41682323-a959-49ff-962a-3bae3914df8c,8db18e9c-21eb-48ff-a3bc-ebb2d255bc56,False,AwsApiCall,390618173518,Management,3,0,4338
4,nisarg.shah,ASIAVV4VIKBHKAXEKALR,2023-07-07T08:55:30Z,signin.amazonaws.com,ConsoleLogin,ap-south-1,103.85.10.50,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,NaN,[],41682323-a959-49ff-962a-3bae3914df8c,94bf2af4-2e7f-420c-936e-3874d4e336ba,False,AwsConsoleSignIn,390618173518,Management,4,1,4022

In [27]:
res.head()

,User name,AWS access key,Event time,Event source,Event name,AWS region,Source IP address,User agent,Error code,Resources,Request ID,Event ID,Read-only,Event type,Recipient Account Id,Event category,index,Cluster,Cluster_count
0,OrchestrationService,ASIAVV4VIKBHEEMIK36O,2023-07-07T10:30:13Z,ssm.amazonaws.com,SendCommand,ap-south-1,ssm.amazonaws.com,ssm.amazonaws.com,NaN,[],4e40289e-f767-4a0b-9115-08976b8678e9,768f8cfd-7307-49d4-a02b-8486b8424491,False,AwsApiCall,390618173518,Management,0,0,4338
1,OrchestrationService,ASIAVV4VIKBHMW3GULBK,2023-07-07T10:00:13Z,ssm.amazonaws.com,SendCommand,ap-south-1,ssm.amazonaws.com,ssm.amazonaws.com,NaN,[],4ea73985-a4a2-413a-b440-dcea4b0934cf,fc8ee9f3-e2de-480f-8f5f-f7eb0b0bf17d,False,AwsApiCall,390618173518,Management,1,0,4338
2,OrchestrationService,ASIAVV4VIKBHEWRG4ZPM,2023-07-07T09:30:13Z,ssm.amazonaws.com,SendCommand,ap-south-1,ssm.amazonaws.com,ssm.amazonaws.com,NaN,[],bf8a1376-0f38-4251-ad83-a1ee26b7679c,0ada806e-f78c-4e18-bc9d-deee8fe9f080,False,AwsApiCall,390618173518,Management,2,0,4338
3,OrchestrationService,ASIAVV4VIKBHKAXEKALR,2023-07-07T09:00:13Z,ssm.amazonaws.com,SendCommand,ap-south-1,ssm.amazonaws.com,ssm.amazonaws.com,NaN,[],41682323-a959-49ff-962a-3bae3914df8c,8db18e9c-21eb-48ff-a3bc-ebb2d255bc56,False,AwsApiCall,390618173518,Management,3,0,4338
4,nisarg.shah,ASIAVV4VIKBHKAXEKALR,2023-07-07T08:55:30Z,signin.amazonaws.com,ConsoleLogin,ap-south-1,103.85.10.50,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,NaN,[],41682323-a959-49ff-962a-3bae3914df8c,94bf2af4-2e7f-420c-936e-3874d4e336ba,False,AwsConsoleSignIn,390618173518,Management,4,1,4022

In [28]:
res.to_csv('file1.csv')